body {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  h1 {
    color: white;
  }

  .player-input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    column-gap: 50px;
  }

  .input-text{
    text-align: center;
  }

  .player-img,.players-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    column-gap: 50px;
    margin-top: 50px;
    justify-items: center;
  }

.players-info{
    margin-top: 0px;
  }

  .player-img img{
    width: 100%;
    height: auto;
  }

  p {
    color: white;
  }

  .players-info-detailed{
    display: inline-flex;
    align-items: center;
    width: 200px;
    white-space: nowrap;
    margin-top: 8px;
  }

  .players-info-detailed img{
    width: 30px;
    height: 30px;
  }

  #player-1-name, #player-2-name{
    margin-left: 5px;
  }

  #stat{
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    margin-top: 25px;
    justify-items: center;
    font-size: 20px;
  }

.all-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    justify-items: center;
    font-size: 20px;
    column-gap: 0px;

}

.all-stats div{
  width: 100%;
  border: 1px solid white;
  margin: none;
  text-align: center;
}
